{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Магазин</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .header{background:rgb(0, 178, 255);color:#fff;}
      #lblCartCount {
          font-size: 12px;
          background: #ff0000;
          color: #fff;
          padding: 0 5px;
          vertical-align: top;
          margin-left: -10px;
      }
      .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
      }

      .label-warning[href],
      .badge-warning[href] {
        background-color: #c67605;
      }

      .carousel-inner > .carousel-item > img {
      height: 100vh;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'store/css/carousel.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'store/images/арт-красивые-картинки-улица-город-1828365.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'store/images/cherry-tree-anime-5d-2560x1700.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'store/images/neon-ulitsa-noch-ogni-vyveska-svet.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <main>

      <div class="container marketing">
        
        <!-- START THE FEATURETTES -->
        {% if products_for_sale %}
          {% for product in products_for_sale %}
            {% if product.id|divisibleby:"2" %}
              <div class="row featurette">
                <div class="col-md-8 order-md-2">
                  <h2 class="featurette-heading">{{ product.name }}
                    <br>
                    <span class="text-muted">{{ product.price }}</span>
                  </h2>
                  <p class="lead">{{ product.description }}</p>
                </div>
                
                <div class="col-md-4 order-md-1">
                  <a href="{% url 'store:detail' product.id %}">
                    <img width="400" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ product.image1.url }}" />
                  </a>
                </div>
        
              </div>
              <hr class="featurette-divider">
            {% else %}
              <div class="row featurette">
                <div class="col-md-8">
                  <h2 class="featurette-heading">{{ product.name }}
                    <br>
                    <span class="text-muted">{{ product.price }}</span>
                  </h2>
                  <p class="lead">{{ product.description }}</p>
                </div>
                <div class="col-md-4">
                  <a href="{% url 'store:detail' product.id %}">
                    <img width="400" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ product.image1.url }}" />
                  </a>
                </div>
              </div>
              <hr class="featurette-divider">
            {% endif %}
          {% endfor %}
        {% else %}
        <h2 class="featurette-heading text-center">Товаров пока нет<br><span class="text-muted">Заходи позже</span></h2>
        <hr class="featurette-divider">
        {% endif %}

        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->
    </main>

    <!-- sticky footer -->
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a style="font-size: 24px;" class="navbar-brand" href="#">Магазин</a>
        <ul class="navbar-nav">
          {% if request.session.s_basket|length > 0 %}
            <li class="navbar-brand">
              <a class="nav-link" aria-current="page" href="{% url 'store:basket' %}">
                  <i class="fa" style="font-size:35px">&#xf07a;</i>
                  <span class='badge badge-warning' id='lblCartCount'>{{ request.session.s_basket|length }}</span>
                  <span class="text-success">{{ s_basket_sum }} ₽</span>
              </a>
            </li>
          {% else %}
            <li class="navbar-brand text-muted">
              <span class="nav-link" aria-current="page">
                <i class="fa" style="font-size:35px">&#xf07a;</i>
                <span class="text-success">{{ s_basket_sum }} ₽</span>
              </span>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>